name: Flutter CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter (3.24.4 manual)
        run: |
          git clone https://github.com/flutter/flutter.git --branch 3.24.4 --depth 1
          echo "$PWD/flutter/bin" >> $GITHUB_PATH
          export PATH="$PATH:$PWD/flutter/bin"
          flutter config --no-analytics
          flutter --version

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: |
          if [ -d "test" ]; then
            flutter test --no-pub --reporter expanded
          else
            echo "No tests found, skipping tests."
          fi
