name: Flutter CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.0" # sesuaikan jika pakai versi lain

      - name: Flutter version
        run: flutter --version

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze Dart code
        run: flutter analyze

      - name: Run tests
        run: |
          if [ -d "test" ]; then
            flutter test --no-pub --reporter expanded
          else
            echo "No tests found, skipping tests."
          fi
